.git
.github
.gitignore
build/
*.egg-info
__pycache__
*.pyc
*.pyo
docs/
tests/
*.md
!src/clutch/CHANGELOG.md
!src/clutch/README.md
LICENSE
*.sh
!docker-entrypoint.sh
*.ps1
*.service
docker-compose*.yml
Dockerfile
.dockerignore
